{% extends "MultikinoBundle::base.html.twig" %}

{% block pageTitle %}Program &ndash; Starline Cinema | PA032 projekt{% endblock %}

{% block content %}
  <div class="row content-wrapper">
    <div class="large-12 columns">
      <h1>Program - vyber datum</h1>
      <ul>
	    {% for projectionDate in projectionDates %}
	        <li><a href="{{ path('multikino_program_showProgram',{'branchOfficeId' : branchOfficeId, 'dateString': projectionDate|date("Y-m-d")}) }}">{{ projectionDate|date("Y-m-d") }}</a></li>
	    {% endfor %}
	  </ul>
      
      
    </div>
  </div>
{% endblock %}