{% extends "MultikinoBundle::base.html.twig" %}

{% block pageTitle %}Program &ndash; Starline Cinema | PA032 projekt{% endblock %}

{% block content %}
  <div class="row panel">
    <div class="large-12 columns">
      <h2>{{ branchOffice.name }}</h2>
      <br>

      <div class="row">
        <div class="large-12 columns">
	    {% for projectionDate in projectionDates %}
	        <a href="{{ path('multikino_program_showProgram',{'branchOfficeId' : branchOfficeId, 'dateString': projectionDate|date("Y-m-d")}) }}"
	           class="button">{{ projectionDate|date("Y-m-d") }}</a>
	    {% endfor %}
  	    </div>
	  </div>


    </div>
  </div>
{% endblock %}
