{% extends "MultikinoBundle::base.html.twig" %}

{% block pageTitle %}Program &ndash; Starline Cinema | PA032 projekt{% endblock %}

{% block content %}
  <div class="row panel">
    <div class="large-12 columns">
      <h2>Program</h2>
        <br>
		{% for branchOffice in listOfBranchOffices %}
		  <div class="row">
		    <div class="large-3 columns">
	          <a href="{{ path('multikino_program_chooseDate',{'branchOfficeId' : branchOffice.branchOfficeId}) }}" class="button">{{ branchOffice.name }}</a>
	        </div>
	        <div class="large-9 columns">
	        	<p>{{ branchOffice.description }}</p>
	        </div>
	      </div>
	    {% endfor %}
    </div>
  </div>
{% endblock %}
