{% extends "MultikinoBundle::base.html.twig" %}

{% block pageTitle %}Program &ndash; Starline Cinema | PA032 projekt{% endblock %}

{% block content %}
  <div class="row content-wrapper">
    <div class="large-12 columns">
      <h1>Program</h1>
      
      <ul>
	    {% for branchOffice in listOfBranchOffices %}
	        <li><a href="{{ path('multikino_program_chooseDate',{'branchOfficeId' : branchOffice.branchOfficeId}) }}">{{ branchOffice.name }}</a></li>
	    {% endfor %}
	  </ul>
      
    </div>
  </div>
{% endblock %}