{% extends "MultikinoBundle::base.html.twig" %}

{% block pageTitle %}Program &ndash; Starline Cinema | PA032 projekt{% endblock %}

{% block content %}
  <div class="row content-wrapper">
    <div class="large-12 columns">
      <h1>Program - ukaz program</h1>
      
        {% for programRecord in programRecordList %}
	        <li>{{ programRecord.projectionStartTime|date("H:i") }} - {{ programRecord.title }} (hall_id: {{ programRecord.hallId }})</li>
	    {% endfor %}
      
    </div>
  </div>
{% endblock %}