/app/bootstrap.php.cache
/app/cache/*
/app/logs/*
!app/cache/.gitkeep
!app/logs/.gitkeep
/build/
/vendor/
/bin/ 
_/log/
_/temp/_SqlExecute
_/temp/cache
.svn/
.buildpath
.project
.settings
desktop.ini
Thumbs.db
nbproject/
*~