/app-dev-root/app/bootstrap.php.cache
/app-dev-root/app/cache/*
/app-dev-root/app/logs/*
!app/cache/.gitkeep
!app/logs/.gitkeep
/app-dev-root/build/
/app-dev-root/bin/ 
_/log/
_/temp/_SqlExecute
_/temp/cache
.svn/
.buildpath
.project
.settings
desktop.ini
Thumbs.db
nbproject/
*~