{% extends "MultikinoBundle::base.html.twig" %}

{% block content %}
	  <div class="row">
	    <div class="large-12 columns">
	      <ul class="intro-orbit" data-orbit>
	        <li>
	        	<div class="orbit-content">
		        	<h2>Rezervační systém multikina</h2>
		        	<p>Přehled promítání a obsazenosti sálů s doprovodnými texty</p>
	        	</div>
	        </li>
	        <li>
	        	<div class="orbit-content">
		        	<h2>Team</h2>
		        	<p>
		        		Aleš Hejmalíček
						Richard Hůlek</br>
						Jan Škrášek</br>
						Eduard Tomek</br>
		        	</p>
	        	</div>
	        </li>
	        <li>
	        	<div class="orbit-content">
		        	<h2>Test slide</h2>
		        	<p>Lorem ipsum... </p>
	        	</div>
	        </li>
	      </ul>
	    </div>
	  </div>
	    
	<!-- Content Blocks -->
	
	  <div class="row">
	    <div class="large-4 columns">
	      <a href="{{ path('multikino_program') }}"><img src="http://placehold.it/400x300&text=[img]" /></a>
	      <h4><a href="{{ path('multikino_program') }}">Dnešní program</a></h4>
	      <p>Bacon ipsum dolor sit amet nulla ham qui sint exercitation eiusmod commodo, chuck duis velit. Aute in reprehenderit, dolore aliqua non est magna in labore pig pork biltong. Eiusmod swine spare ribs reprehenderit culpa. Boudin aliqua adipisicing rump corned beef.</p>
	    </div>
	    
	    <div class="large-4 columns">
	      <a href="#"><img src="http://placehold.it/400x300&text=[img]" /></a>
	      <h4><a href="#">Něco</a></h4>
	      <p>Bacon ipsum dolor sit amet nulla ham qui sint exercitation eiusmod commodo, chuck duis velit. Aute in reprehenderit, dolore aliqua non est magna in labore pig pork biltong. Eiusmod swine spare ribs reprehenderit culpa. Boudin aliqua adipisicing rump corned beef.</p>
	    </div>
	    
	    <div class="large-4 columns">
	      <a href="{{ path('multikino_about') }}"><img src="http://placehold.it/400x300&text=[img]" /></a>
	      <h4><a href="{{ path('multikino_about') }}">O projektu</a></h4>
	      <p>Bacon ipsum dolor sit amet nulla ham qui sint exercitation eiusmod commodo, chuck duis velit. Aute in reprehenderit, dolore aliqua non est magna in labore pig pork biltong. Eiusmod swine spare ribs reprehenderit culpa. Boudin aliqua adipisicing rump corned beef.</p>
	    </div>
	  
	    </div>
	    
	<!-- Dokumentace a zdrojové kódy -->
			<div class="row">
			    <div class="large-12 columns">
			    
			      <div class="panel">
			        <h4>Dokumentace a zdrojové kódy</h4>
			            
			        <div class="row">
			          <div class="large-9 columns">
			            <p>Dokumentace k projektu a zdrojové kódy aplikace včetně scriptů pro založení databáze jsou dostupné v Github repozitáři.</p>
			          </div>
			          <div class="large-3 columns">
			            <a href="https://github.com/hrach/pa036-booking-system" class="radius button right">GIT repozitář</a>
			          </div>
			        </div>
			      </div>
			      
			    </div>
			  </div>
{% endblock %}