{% extends "MultikinoBundle::base.html.twig" %}

{% block pageTitle %}O projektu &ndash; Starline Cinema | PA032 projekt{% endblock %}

{% block content %}
  <div class="row content-wrapper">
    <div class="large-12 columns">
      <h1>O projektu</h1>
      <article>
        <h3>Rezervační sytém multikina</h3>
		<h2>1. Předmět projektu</h2>
		<p><strong>1.1. Výchozí stav</strong></p>
		<p>Investor (dále provozovatel) vstupuje do nového segmentu zábavy - provoz multikina a potřebuje rezervační systém pro jednotlivé sály v kině. Provozovatel již úspěšně provozuje jiné projekty a má hotovou integraci platebních brán. Jeho cílem je vytvořit konkurenčně schopný rezervační systém místenek v jeho novém kině.</p>
		<p><strong>1.2. Účel projektu</strong></p>
		<p>Provozovatel požaduje vysokou konkurenceschopnost rezervačního systému, respektive multikina. Provozovatel plánuje v blízké budoucnosti vybudovat i multikino v dalších městech. Provozovatel má zájem nabízet různé cenové hladiny pro filmy v 3D a v 2D, pro různé věkové skupiny apod. Součástí zadání je požadavek na evidenci zákazníků, jejich klub a možné slevy.</p>
		<p><strong>1.3. Klíčové požadavky</strong></p>
		<p><em>1.3.1. Požadavky multikina</em></p>
		<p>Systém je připraven pro nasazení v neomezeném množství kin, která mají neomezené množství sálů. Jednotlivá nabídka filmů v jednotlivých kinech se může lišit.</p>
		<p><em>1.3.2. Místenky</em></p>
		<p>Systém umožňuje nákup jednotlivé místenky pro konkrétní film v konkrétním sále. Cena místenky může být ovlivněna filmem (a jeho typem, např. 3D), sálem a konkrétním místem a samotným zákazníkem (členství v klubu).</p>
		<p><em>1.3.3. Přehled v nejbližší době vysílaných filmů a volných míst</em></p>
		<p>Aplikace poskytne jednoduchý přehled pro LCD televize na pokladně. Tento přehled bude obsahovat promítané filmy, které ještě ten den budou odvysílány. Upoutávky na jednotlivá filmová promítání budou zobrazeny s doprovodnými texty a časy jejich vysílání a dále se budou zobrazovat aktuální počty volných míst k zakoupení.</p>
	  </article>
    </div>
  </div>
{% endblock %}