{% extends "MultikinoBundle::base.html.twig" %}

{% block pageTitle %}Detail projekce &ndash; Starline Cinema | PA032 projekt{% endblock %}

{% block content %}
  <div class="row panel">
    <div class="large-12 columns">
      <h1>Detail projekce</h1>
      <p>Zde bude detail projekce s ID: {{ projectionId }}</p>
    </div>
  </div>
{% endblock %}